body{
background:linear-gradient(to right, rgb(0, 0, 0), rgb(0, 0, 0));
align-items: center;
text-align: center;
justify-content: center;
margin-top: 130px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: white;
}.button{
  position: absolute;
  left:20px;
   top: 0px;

   color: white;
   
} button{
    box-shadow: 0px 0px 25px white;
justify-content: space-between;
      background:linear-gradient(to right, black, rgb(75, 75, 75), rgb(175, 174, 174)) ;
     border: none;
     border-radius: 10px;
     padding: 10px 20px;
     transition: transform 0.15s ease-in ;
    }
    button:hover {
 opacity: 0.5;
}button:active{
opacity: 0.5;
}
.title{
      box-shadow: 0px 0px 25px white;
position: absolute;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  font-weight: bold;
color: rgb(255, 255, 255);
 margin-bottom: 80px;
 border:white 5px solid;
 padding: 10px 50px;
 margin-top: 70px;
 border-radius: 50px;

background:linear-gradient(to right, rgb(0, 0, 0), rgb(0, 0, 0));
}.container1{
padding: 50px;
font-size: 20px;
font-weight: 800;
}
.container{
       
 color: rgb(255, 255, 255);
z-index: 2;
align-items: center;
text-align: center;
justify-content: center;
position: absolute;
border: solid;
margin-top: 650px;
padding: 50px;
background:linear-gradient(to right, rgb(0, 0, 0), rgb(0, 0, 0));
border-radius: 20px;
border-bottom: 28px white solid;
border-top: 28px white solid;
border-left: 5px white solid;
border-right: 5px rgb(255, 255, 255) solid;
box-shadow: 0px 0px 25px white;
}.main-h{
  position: relative;
  display: flex;
   display: flex;
  flex-direction: column;
  flex: 1fr;
  align-items: center;
text-align: center;
justify-content: center;
  
}

.main-con{
  display: flex;
  flex-direction: column;
  flex: 1fr;
  position: relative;
  align-items: center;
text-align: center;
justify-content: center;
}
input{
  padding: 10px;
  border-radius: 10px;
  border: none;
} button{
  margin-top: 30px;
  padding: 15px 35px;
box-shadow: 0px 0px 30px white;
  border-radius: 15px;
  border: none;
  scale: 0.8;
  color: rgb(0, 0, 0);
  transition: transform 0.15s ease;
    border-bottom: 8px solid rgb(0, 0, 0);
background:linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255));
}button:active{
transform: scale(1.38);
}.send{
text-align: center;
box-shadow: none;
}
.email-text {
  margin-left: -85px;
  padding: 10px;
 font-weight: bold;
  margin-bottom: 10px;
  font-size: 18px;
}.money-text{
   margin-left: -45px;
  padding: 10px;
font-weight: bold;
  margin-bottom: 10px;
  margin-top: 20px;
  font-size: 18px;
  
}#money{
text-align: center;
}#sendMsg{
  position: absolute;
  background-color: black;
  color: white;
  font-size: 20px;
  font-weight: bold;
color: white;
 margin-bottom: 80px;
 border:rgb(255, 255, 255) 5px solid;
 padding: 5px 50px;
top: -100px;
 border-radius: 50px;
 box-shadow: 0px 0px 10px white;
}.user{
  padding: 100px;
  color: white;
}@media(max-width: 500px){
  .title{
    font-size: 20px;
  }#sendMsg{
    font-size: 15px;
    margin-top: 20px;
  }
}@media(max-width: 400px){
  .container{
    scale: 0.7;
  }.title{
    scale: 0.7;
  }#sendMsg{
margin-top: 20px;
  }

}
